.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 328px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 53px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  cursor: pointer;
}

.like__button {
  cursor: pointer;
  position: absolute;
  background-image: url(../../assets/likebutton.svg);
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 91px;
  margin-right: 0;
  padding: 0;
  margin-top: 20px;
}

.like__button-active {
  background-image: url(../../assets/likebutton-active.svg);
}
