.modal__content-delete {
   width: 670px;
   height: 280px;
   padding: 0;
   max-width: 100%;
   border-radius: 20px;
}

.modal__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    font-family: "CabinetGrotesk-Bold", sans-serif;
    width: 367px;
    height: 48px;
    margin-left: 151px;
    margin-right: 152px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.modal__confirm {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "CabinetGrotesk-Bold", sans-serif;
    border: none;
    background-color: transparent;
    color: #ff4d00;
    height: 24px;
    text-align: center;
    margin-left: 266px;
    padding: 0;
    cursor: pointer;
}

.modal__cancel {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "CabinetGrotesk-Bold", sans-serif;
    border: none;
    background-color: transparent;
    height: 24px;
    padding: 0;
    margin-left: 304px;
   margin-top: 24px;
   cursor: pointer;
}